CONFIG_BLK_DEV_NVME=y
CONFIG_BLK_DEV_NVME_SCSI=n

#CONFIG_DEBUG_PREEMPT=y
#CONFIG_PREEMPT_RT_FULL=y
#CONFIG_PREEMPT_TRACER=n
#CONFIG_RWSEM_GENERIC_SPINLOCK=y

CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_PCI=y
CONFIG_USB_XHCI_PLATFORM=m

CONFIG_FUSE_FS=y
CONFIG_CUSE=n

CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_ACPI_PROCESSOR_CSTATE=n
CONFIG_ACPI_PROCESSOR_IDLE=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_ACPI_HOTPLUG_CPU=n
CONFIG_CPU_FREQ=n
CONFIG_CPU_IDLE=n
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_INTEL_IDEL=n
CONFIG_INPUT_PCSPKR=n

#
# RTnet
#
CONFIG_XENO_DRIVERS_NET=m
# CONFIG_XENO_DRIVERS_RTNET_CHECKED is not set

#
# Protocol Stack
#

#
# Stack parameters
#
CONFIG_XENO_DRIVERS_NET_RX_FIFO_SIZE=32
# CONFIG_XENO_DRIVERS_NET_ETH_P_ALL is not set
# CONFIG_XENO_DRIVERS_NET_RTWLAN is not set

#
# Protocols
#
CONFIG_XENO_DRIVERS_NET_RTIPV4=m
CONFIG_XENO_DRIVERS_NET_RTIPV4_ICMP=y
CONFIG_XENO_DRIVERS_NET_RTIPV4_HOST_ROUTES=32
# CONFIG_XENO_DRIVERS_NET_RTIPV4_NETROUTING is not set
# CONFIG_XENO_DRIVERS_NET_RTIPV4_ROUTER is not set
CONFIG_XENO_DRIVERS_NET_RTIPV4_UDP=m
CONFIG_XENO_DRIVERS_NET_RTPACKET=m
CONFIG_XENO_DRIVERS_NET_RTMAC=m
CONFIG_XENO_DRIVERS_NET_TDMA=m
CONFIG_XENO_DRIVERS_NET_TDMA_MASTER=y
# CONFIG_XENO_DRIVERS_NET_NOMAC is not set
CONFIG_XENO_DRIVERS_NET_RTCFG=m
# CONFIG_XENO_DRIVERS_NET_RTCFG_DEBUG is not set

#
# Drivers
#

#
# Common PCI Drivers
#
# CONFIG_XENO_DRIVERS_NET_DRV_PCNET32 is not set
# CONFIG_XENO_DRIVERS_NET_DRV_TULIP is not set
CONFIG_XENO_DRIVERS_NET_DRV_EEPRO100=m
CONFIG_XENO_DRIVERS_NET_DRV_EEPRO100_CMDTIMEOUT=20
# CONFIG_XENO_DRIVERS_NET_DRV_EEPRO100_DBG is not set
CONFIG_XENO_DRIVERS_NET_DRV_E1000=m
# CONFIG_XENO_DRIVERS_NET_DRV_E1000E is not set
# CONFIG_XENO_DRIVERS_NET_DRV_NATSEMI is not set
CONFIG_XENO_DRIVERS_NET_DRV_8139=m
# CONFIG_XENO_DRIVERS_NET_DRV_VIA_RHINE is not set
# CONFIG_XENO_DRIVERS_NET_DRV_IGB is not set
# CONFIG_XENO_DRIVERS_NET_DRV_R8169 is not set

#
# Misc Drivers
#
CONFIG_XENO_DRIVERS_NET_DRV_LOOPBACK=m
# CONFIG_XENO_DRIVERS_NET_DRV_SMC91111 is not set
# CONFIG_XENO_DRIVERS_NET_EXP_DRIVERS is not set

#
# Add-Ons
#
# CONFIG_XENO_DRIVERS_NET_ADDON_RTCAP is not set
# CONFIG_XENO_DRIVERS_NET_ADDON_PROXY is not set

#CONFIG_CMDLINE_BOOL=y
#CONFIG_CMDLINE_OVERRIDE=n
#CONFIG_CMDLINE="isolcpus=1 i915.enable_dc=0 i915.enable_rc6=0 i915.enable_execlists=0 i915.disable_power_well=0 processor.max_cstate=0 intel_idle.max_cstate=0 intel_pstate=disable idle=halt xenomai.smi=enabled nosmap"

CONFIG_IGB=m
CONFIG_IGB_HWMON=y
CONFIG_IGB_DCA=y
CONFIG_IGBVF=m

CONFIG_IOSF_MBI=y
# CONFIG_IOSF_MBI_DEBUG is not set
CONFIG_RPMB=y
# CONFIG_RPMB_INTF_DEV is not set

CONFIG_CONTEXT_SWITCH_TRACER=n
CONFIG_EVENT_TRACING=n
CONFIG_GENERIC_TRACER=n
CONFIG_TRACKING=n
CONFIG_TRACKING_SUPPORT=n

CONFIG_MMC=y
# CONFIG_MMC_DEBUG is not set
CONFIG_MMC_BLOCK=y
CONFIG_MMC_BLOCK_BOUNCE=y
# CONFIG_SDIO_UART is not set
# CONFIG_MMC_TEST is not set
CONFIG_MMC_BLOCK_MINORS=8
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_PCI=y
CONFIG_MMC_SDHCI_ACPI=y
CONFIG_MMC_RICOH_MMC=y
# CONFIG_MMC_SDHCI_PLTFM is not set
# CONFIG_MMC_WBSD is not set
# CONFIG_MMC_TIFM_SD is not set
# CONFIG_MMC_SDRICOH_CS is not set
# CONFIG_MMC_CB710 is not set
# CONFIG_MMC_VIA_SDMMC is not set
# CONFIG_MMC_VUB300 is not set
# CONFIG_MMC_USHC is not set
# CONFIG_MMC_USDHI6ROL0 is not set
# CONFIG_MMC_TOSHIBA_PCI is not set
# CONFIG_MMC_MTK is not set

CONFIG_EFI=y
CONFIG_EFI_STUB=y
# CONFIG_EFI_MIXED is not set

CONFIG_LOCALVERSION=""
